{% extends 'base.html.twig' %}

{% block title %}ProfilePage{% endblock %}

{% block body %}
    <h1>Hello, voici ton profil {{ user.email }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_profile_edit') }}">edit</a>

{% endblock %}
