{% extends 'base.html.twig' %}

{% block title %}Liste Cours{% endblock %}

{% block body %}
    <h1>Liste Complète des Cours</h1>

    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}

    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_article_new') }}">Create new</a>
{% endblock %}
