{% extends 'base.html.twig' %}

{% block title %}Categorytest{% endblock %}

{% block body %}
    <h1 class= "categoryTitle">{{ category.title }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Picture</th>
            </tr>
            <tr>
                
                <td>{{ category.description }}</td>
                <td><img src="{{ vich_uploader_asset(category, 'imageFile')}}" alt="categoryPictures" class='articleImage' ></td>
            </tr>
            <tr>
                    <th colspan='2'>
                        <div class="beforeCategoryLessons">
                            <h3>Cours contenus dans cette matière :</h3>
                        </div>
                    </th>
                </tr>
        <thead>
        <tbody>
              <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card mb-3 container2"> 
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td class="fst-italic">{{ article.content }}</td>
                <td>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_article_show', {'id': article.id}) }}">Consulter le Cours</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune matière disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_category_index') }}">Retour aux matières</a>

 

    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
