{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_user_show', {'id': user.id}) }}">afficher le profil de l'utilisateur</a>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">modifier le profil de l'utilisateur</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-block text-center w-100" href="{{ path('app_admin_user_new') }}">Creer un nouvel utilisateur</a>
{% endblock %}
