<div class="main">
    <nav class="navbar navbar-expand-lg bg-green-500">
            <div class="container-fluid ">
               
                <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class=" navbarGauche navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                         <a class="nav-link active" aria-current="page" href=" {{ path('app_home')}}">
                            <img class="logo" src="/asset/images/logoSL.png" alt="logo">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=" {{ path('app_home')}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_category_index')}}">Les Matières</a>
                        </li>
                    </ul>
                    </div>
                    <ul class="navbarDroite navbar-nav mb-2 mb-lg-0">
                     {% if is_granted("ROLE_ADMIN") %} 
                        <li class="d-flex nav-item dropdown mr-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Espace Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_admin_category_index')}}">Matières</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_article_index')}}">Cours</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_user_index')}}">Utilisateurs</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_comment_index')}}">Commentaires</a></li>
                            </ul>
                        </li>
                       {% endif %}
                        <li class="d-flex nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    MON COMPTE
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_register')}}">Inscrivez-vous</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_login')}}">Connexion</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_profile_show') }}">Profil</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                </ul>
                        </li>
                    </ul>
            </div>
        </nav>
</div>