{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="text-uppercase">{{ article.title }}</h1>

    <table class="table">
        <tbody>
           <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<div>
    <a class="btn btn-block text-center w-100" href="{{ path('app_comment_new', {'id': article.id})}}">Ajouter un commentaire</a>
</div>
<div>
    {% for comment in comments %}
        <div> {{ comment.user.email}}</div>
        <div> {{ comment.content}}</div>
    {% endfor %}
</div>
    <a class="btn btn-block text-center w-100" href="{{ path('app_category_index') }}">back to Matières</a>
{% endblock %}
